export(default_treg_signature)
export(prepare_signature_data)
export(run_pan_tcga_signature_survival)
export(run_signature_survival)
export(plot_signature_forest)
export(plot_signature_heatmap)
export(plot_signature_results)
export(plot_target_expression_by_signature)
export(run_multi_signature_target_expression)
export(prepare_signature_only_data)
export(run_signature_only_survival)
export(run_pan_tcga_signature_only_survival)
export(plot_signature_only_forest)
export(plot_signature_only_heatmap)
export(plot_signature_only_results)
export(default_cptac_tcga_map)
export(default_cd8_signature)
export(load_cptac_proteogenomic_results)
export(summarize_cptac_proteogenomic_results)
export(run_cptac_proteogenomic_validation)
import(data.table)
export(default_naive_cd4_signature)
export(read_signature_genes)
export(prepare_expression_survival_data)
export(summarize_tcga_cohorts)
export(tcga_data_sources)
export(download_tcga_data)
export(tcgasig_demo_data)
export(run_two_layer_survival)
export(run_pan_tcga_two_layer_survival)
export(plot_two_layer_results)
export(run_signature_batch)
export(run_pan_tcga_signature_batch)
export(match_proteogenomic_tables)
export(run_matched_proteogenomic_analysis)
export(prepare_cell_expression_data)
export(aggregate_cell_pseudobulk)
export(compare_cell_gene_expression)
export(run_cell_gene_survival)
export(run_cell_gene_enrichment)
export(read_gmt_pathways)
export(prepare_tcga_cell_context)
export(read_tcga_expression_subset)
export(plot_cell_gene_expression)
export(plot_cell_gene_survival_grid)
export(plot_cell_gene_enrichment)
export(plot_cell_gene_km)
export(run_cell_gene_analysis)
S3method(print,tcgasig_cptac_proteogenomics)
